title: Public Classes
keywords: Project Management, Knowledge Management, Information Technology, IT, Microsoft Project Server, Microsoft Project, Dynamic scheduling, PMI, Microsoft Office, public classes, education, teaching, training, Advisicon
description: Find our currently available public classes.
--------------------------------------------------------META

%h1 Advisicon Courses
%p Advisicon delivers customized, consultative instructor-led project management training based on project management best practices on the following topics using Advisicon&rsquo;s proprietary course manuals, process flowcharts, and electronic tools and templates (on course CD).
%p
  %a{ :href => "/how-to-claim-pdus.htm", :title => "Find out how to claim PDUs" } Instructions to claim PDUs
%p Advisicon&rsquo;s highly qualified staff, including MVPs, MCTs, MCPs, and PMPs, are available for on-site, customized training.
%p Our classes can be centered around the specific material you need and want to cover, or we can deliver the classes as outlined below, to your staff.
%p
  :maruku
    [On-site classes](/public_classes.htm "Our upcoming public class schedule") can also be scheduled to best meet your organization&rsquo;s timing. Corporate classes can be held at your facility, our [training facility](#meeting-room "skip down to preview our meeting space"), or off-site should you prefer. Corporate classes can be held as a 1-day, 2-day or 3-day class, depending on content. All classes include reference/training manuals for each person.
%p
  :maruku
    For more information and for corporate pricing, please contact us at [courseinfo@Advisicon.com](mailto:courseinfo@Advisicon.com).

%h2 Current Public Course Offerings
#currentPublicCourses
  %p Find all of <a href="http://advisicon.eventbrite.com/" title="Advisicon&rsquo;s events on Eventbrite">our current public course offerings</a> on our Eventbrite page.

%h2 Public Online Course Offerings
#onlineCourses
  %p Find all of our public online <a href="https://attendee.gototraining.com/78mx2/catalog/8775170764717674752">courses at GoToTraining</a>.
  
  /<iframe src="https://attendee.gototraining.com/r/1323092169217913856" width="509"></iframe>
  / Add GoToTraining courses
  - require '../../GoToTraining-Ruby/lib/go_to_training.rb'
  - @g2t = GoToTraining::Client.new('ccd6b830c54436e074f0cc9cdb8931f2', '7863484309822919941', '2221055618378781957').get_trainings('')

  - if @g2t != nil

    #g2t_event_header
      %span.head_title Course
      /%span.head_location Location
      %span.head_date Date
    /.g2t_event_list
    .eb_event_list

      - @g2t.each do |course|
        /.g2t_event_list_item
        .eb_event_list_item
          - @courseTitle = course['name']
          - @registrationURL = "https://attendee.gototraining.com/78mx2/register/#{course['trainingKey']}"
          /%span.g2t_event_list_title= course['name']
          %span.eb_event_list_title= "<a href='#{@registrationURL}'>#{@courseTitle}</a>"
          - @date = DateTime.parse(course['times'][0]['startDate']).to_date
          /%span.g2t_event_list_date= @date.to_s
          %span.eb_event_list_date= @date.to_s
          -# %p{ :style => 'float: left; clear: left;' }= course
  - else
    %iframe{ :src => "https://attendee.gototraining.com/78mx2/catalog/8775170764717674752", :width => "509" }

%h2{ :id => "meeting-room" } Our Meeting Room
%p Our meeting room is for rent!
/ <iframe src="http://rtvpix.com/tour/src/tour_java_only.php?utl=BU-5037-9QK11Y-01&h=339&w=500" height="339" width="500" marginwidth="0" marginheight="0" scrolling="no"></iframe>
%a{ :href => "http://rtvpix.com/rst/BU-5037-9QK11Y-01?h=500&w=700", :title => "take a virtual tour", :target => "_blank", :onclick => "_gaq.push(['_trackEvent', 'virtual tour', 'flash 3d']);" }
  %img{ :src => "/pix/advisicon-virtual-tour.jpg", :alt => "take a virtual tour", :width => "100%" }
%p Click the image above to take a virtual tour of the Advisicon Headquarters or visit our facebook page to see an <a href="http://www.facebook.com/media/set/?set=a.10150709101698512.393774.136755573511&type=3" title="pictures of the Advisicon Headquarters building" onclick="_gaq.push(['_trackEvent', 'Facebook', 'User: Advisicon', 'HQ image gallery']);">image gallery of shots of our headquarters building</a>. To obtain a quote for renting our meeting room, please contact us at <a href="mailto:info@advisicon.com?subject=Meeting Room Quote Request">info@Advisicon.com</a>.