title: Training
keywords: training, practical project management, mastering requirements gathering, managing projects with microsoft project, pmp prep course, microsoft project server, sharepoint for effective projec t management, pmi, pmbok, microsoft project office, the pmp exam
description: 
  Advisicon offers several courses for training in Microsoft Project, Project 
  Server, and SharePoint.
layout: default.haml
--------------------------------------------------------META

:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  [1]: #traditional-classroom "Our upcoming public course schedule"
  [2]: #meeting-room "about out meeting space"

  Advisicon Training
  ==================

  Advisicon delivers customized, consultative instructor-led project management 
  training based on project management best practices on the following topics 
  using Advisicon's proprietary course manuals, process flowcharts, and 
  electronic tools and templates (on course CD).

  [Instructions maintain your credentials and claim PDUs][claim-pdu]

  Advisicon's highly qualified staff, including MVPs, MCTS, MCPs, PMP&reg;s[^pmp],
  and PMI-SP&reg;s[^pmi-sp], are available for on-site, customized training.

  Our courses can be centered around the specific material you need and want to 
  cover, or we can deliver the courses as outlined below, to your staff.

  Courses We Offer
  ---------------

  - [Practical Project Management][PPM-course]
  - [Mastering Requirements Gathering][MRG-course] 
  - [Managing Projects with Microsoft Project][MPwMP-course] 
  - [Advanced Scheduling with Microsoft Project][MPwMP-adv-course]
  - [PMP Prep Course][PMP_prep-course] 
  - [CAPM Prep Course][CAPM_prep-course]
  - [Microsoft Project Server for Administrators][MSPS_Admin-course]
  - [Microsoft Project Server for Project Managers][MSPS_PM-course] 
  - [Microsoft Project Server for Team Members][MSPS_TM-course]
  - [SharePoint for Effective Project Management][SPfEPM-course]
  - [SharePoint for Farm Administrators][SPfFA-course]
  - [Microsoft Business Intelligence][BI-course] 
  - [Communicate with Class][communicate-with-class-course]
  - [Making Sense of Workplace Personalities][workplace-personalities-course]

  <!-- commented out until Kristin gives the OK
  - [What's New in Visio 2013][v2013_diffs-course]
  - [Using Visio 2013: Fundamentals and Best Practices][v2013_intro-course]
  -->


  Private Trainings
  -----------------

  On-site courses can also be scheduled to best meet your organization's 
  timing. Corporate courses can be held at your facility, our [training facility][2], 
  or off-site should you prefer. Corporate courses can be held as a 1-day, 2-day 
  or 3-day class, depending on content. All courses include reference/training 
  manuals for each person.

  For more information and for corporate pricing, please contact us at 
  [courseinfo@Advisicon.com](mailto:courseinfo@Advisicon.com).


  Traditional Classroom Course offerings                                      {#traditional-classroom}
  --------------------------------------

  <div id="classroom-learning" markdown="1">
  
  Find all of <a href="http://advisicon.eventbrite.com/" title="Advisicon&rsquo;s events on Eventbrite">our current public course offerings</a> on our Eventbrite page.

  </div>


  Our Meeting Room { #meeting-room }
  ----------------
  
  Our meeting room is for rent!
  
  #{ render_partial 'partials/display_meeting_room_tour' }

  Click the image above to take a virtual tour of the Advisicon Headquarters 
  or visit our facebook page to see an <a href="http://www.facebook.com/media/set/?set=a.10150709101698512.393774.136755573511&amp;type=3" title="pictures of the Advisicon Headquarters building" onclick="#{track_event('Facebook', 'User: Advisicon', label: 'HQ image gallery')}">image gallery of shots of our headquarters building</a>. 

  To obtain a quote for renting our meeting room, please contact us at 
  <a href="mailto:info@advisicon.com?subject=Meeting%20Room%20Quote%20Request">info@Advisicon.com</a>.

  #{ render_partial 'partials/footnotes' }
