job_title: Contract Senior Project Advisor
keywords: Job, Career, contractor, ADD KEYWORDS
description: ADD SHORT DESCRIPTION
live: true
layout: default.haml
--------------------------------------------------------META

- @advisicon  = "#{hiringOrganization('Advisicon')}"
- @industry   = "#{industry('professional services consulting')}"
- @location_1 = "#{location('St. Petersburg', 'Florida')}"
- @location_2 = "#{location('Columbia', 'South Carolina')}"

%h1{ itemprop: 'title' } #{job_title}
%p
  #{@advisicon}, a #{@industry} company seeks contractors for #{job_title} 
  in Enterprise Project Management (EPM) Solutions positions located in 
  #{@location_1} and #{@location_2} to manage a large scale Enterprise Project 
  within a governmental agency. This will be a 3 to 6 month onsite position 
  but could possibly grow into a longer term position.


%h2 Position Description Summary
%p{ itemprop: 'description' }
  The #{job_title} will provide the customer with a blend of skills 
  round enterprise project management, technology, and strategic business 
  analysis. This position will engage in business and technology discussions 
  related to business value and end-to-end Microsoft technology solutions. 
  They will identity customer business problems, map them to a solution, and 
  facilitate the deployment of the services and technology described in the 
  recommended solution. This position must also be able to train individuals 
  on how to use the technology in a corporate and public environment.
%p
  Advisicon seeks a resource that can perform the technical configuration and 
  deployment.
%p
  The #{job_title} position entails the following tasks, activities, and 
  responsibilities:
%ul{ itemprop: 'responsibilities' }
  %li
    Lead requirements gathering sessions guiding clients in identifying pain 
    points and business needs
  %li
    Map solution to client needs
  %li
    Configure, customize and integrate EPM solution to meet client requirements
  %li
    Document implementations, including business and technical requirements, 
    configuration and design diagrams, and next steps
  %li
    Lead consulting team to meet milestones
  %li
    Manage engagement scope
  %li
    Manage stakeholder expectations
  %li
    Proactively communicate project progress to stakeholders
  %li
    Identify continuous improvement areas
  %li
    Identify/Manage risks/issues
  %li
    Ability to lead teams in developing new policy or policy changes
  %li
    Identify opportunities for cross sales during engagement
  %li
    Conduct role-based training on Microsoft Project/Project Server and 
    SharePoint, including Team Members, Project Managers, and Administrators
  %li
    Manage multiple deadlines and objectives


%h3 Professional Experience
%ul{ itemprop: 'experienceRequirements' }
  %li
    BS in IT or 7 years equivalent experience
  %li
    5+ years experience with Microsoft EPM Products
  %li
    Experience in small/mid and large enterprises
  %li 
    Thorough knowledge of Project Server, Project Professional, and SharePoint 
    Server, 2010 and 2013 MUST HAVE
  %li
    5+ years leading technical implementations
  %li
    3+ years experience in a consulting capacity
  %li
    3+ years training experience
  %li
    Understanding of project management methodology and practices
  %li
    MCTS or equivalent in Microsoft Project, Project Server and/or SharePoint
  %li
    PMP preferred


%h3 Core Professional Skills
%ul{ itemprop: 'skills' }
  %li Good organizational and planning skills
  %li Excellent written and verbal communication
  %li Ability to work on multiple projects at one time
  %li Ability to work under pressure and to multiple deadlines
  %li Ability to prioritize competing work
  %li Excellent attention to detail and accuracy
  %li Self-Motivator
  %li Excellent Soft/People Skills
  %li Ability to be a team player
  %li Willing ness to seek industry certifications


%h3 Personal Qualifications
%ul{ itemprop: 'qualifications' }
  %li Friendly, outgoing, sociable
  %li Creative
  %li Alert and observant
  %li Self-motivated, takes initiative
  %li Honest
  %li Tactful and respectful
  %li Passionate about profession
  %li Healthy sense of humor
  %li Life-long learner

%p
  NOTE: Advisicon's #{job_title}s are key enablers for Advisicon's consultants 
  and partner staff. They manage the complete lifecycle of large and complex 
  projects and have a passion for customers that is demonstrated through 
  professionalism and striving for excellence in all aspects of the customer 
  experience 
%p
  As a #{job_title}, you will help identify, pursue, and close strategic 
  business development opportunities while continually driving add-on business 
  within existing accounts. To accomplish this, this position must be effective 
  in fostering executive level relationships. The successful candidate will 
  help translate business requirements into technology requirements for 
  inclusion in contracts and/or statements of work (SOW).


%h3 How to Apply
%p
  Submit your resume to #{track_job_application('careers@advisicon.com', job: job_title)}.
