job_title: Contract Senior Project Scheduler
keywords: Job, Career, contractor, ADD KEYWORDS
description: ADD SHORT DESCRIPTION
live: true
layout: default.haml
--------------------------------------------------------META

- @advisicon  = hiringOrganization('Advisicon')
- @industry   = industry('professional services consulting')
- @location_1 = location('St. Petersburg', 'Florida')
- @location_2 = location('Columbia', 'South Carolina')

%h1{ itemprop: 'title' } #{job_title}
%p
  #{@advisicon}, a #{@industry} company seeks contractors located near #{@location_1}
  and #{@location_2} for #{job_title} in Enterprise Project Management (EPM) 
  Solutions positions. This will be a 3 to 6 month onsite position but could 
  possibly grow into a longer term position.


%h2 Position Description Summary
%p{ itemprop: 'description' }
  The Project Advisor will provide the customer with a blend of skills centered 
  on enterprise project management, technology, and strategic business analysis. 
  This contract position will engage in business and technology discussions 
  related to enterprise value and end-to-end Microsoft project &amp; team 
  collaboration technology solutions. Incumbent will identify client business 
  problems, map them to a solution, and facilitate the deployment of services 
  and technology described in the recommended solution. The #{job_title} position 
  entails the following tasks, activities, and responsibilities:
%h3 Job Duties
%ul{ itemprop: 'responsibilities' }
  %li
    Provide the customer with a blend of skills supporting enterprise project 
    management, technology and strategic business solutions
  %li
    Work closely with Senior Project Advisors to develop services and 
    technologies that address the client&rsquo;s business needs
  %li
    Foster productive customer relationships and ensure the Advisicon team 
    exceeds customer expectations
  %li
    Assist with assembling the client&rsquo;s project requirements
  %li
    Develop and maintain a detailed project schedule which includes 
    administrative tasks and all sites involved in the project
  %li
    Coordinate client meetings, training sessions &amp; internal department 
    meetings
  %li
    Prepare and/or edit meeting minutes, presentations and tables
  %li
    File &amp; maintain all digital project documents in designated Project 
    Server work site
  %li
    Responsible to track project changes and produces updated site based 
    schedule as directed by Senior Project Advisor
  %li
    Compile summary documents, e.g. Requirements Gathering, Project Closeout, 
    Lessons Learned, etc.
  %li
    Create and maintain project reports as well as supporting ad-hoc reporting 
    requests
  %li
    Support all levels of the organization by generating and examining 
    program/project data using standard reporting tools
  %li
    Accountable for standardizing reporting formats and statistical analysis 
    methodologies
  %li
    Create responses to competing priorities as well as strong verbal and 
    written communication skills
  %li
    Customer service focused and able to present findings/reports to peers 
    competently
  %li
    As #{job_title} incumbent must possess the following skills: MS Project, 
    MS Project Server &amp; MS SharePoint, 2010 &amp; 2013.


%h3 Professional Experience
%ul{ itemprop: 'experienceRequirements' }
  %li
    2 &ndash; 4 years Microsoft Project &amp; Microsoft Project Server, 2010 &amp; 2013*MUST HAVE*
  %li
    3 &ndash; 5 years Technical Project Management Experience
  %li
    Preferred: PMI CAPM, Certified Scheduler and MS Project Certifications and 
    SharePoint 2013 experience


%h3 Core Professional Skills
%ul{ itemprop: 'skills' }
  %li Good organizational and planning skills
  %li Attention to detail
  %li Excellent written and verbal communication
  %li Ability to multi-task
  %li Ability to work under pressure and to meet multiple deadlines
  %li Ability to prioritize competing work
  %li Excellent attention to detail and accuracy
  %li Self-Motivator
  %li Excellent Soft/People Skills
  %li Be a team player


%h3 How to Apply
%p
  Submit your resume to #{track_job_application('careers@advisicon.com', job: job_title)}.
