job_title: IT Integration Advisor
keywords: Job, Career, IT, information technology, system administrator, sharepoint server, project server, training
description: Deliver SharePoint and Project Server implimentations and consulting. Basic IT support.
live: true
layout: default.haml
--------------------------------------------------------META

- @advisicon = "#{hiringOrganization('Advisicon')}"
- @industry = "#{industry('professional services consulting')}"
- @location = "#{location('Vancouver', 'Washington')}"

%h1{ :itemprop => 'title' } #{job_title}
%p
  #{@advisicon}, a #{@industry} firm based in #{@location} seeks candidates for 
  an #{job_title}.
  <em>Salary:</em> $#{base_salary(45000)} to $65000 DOE.


%h2 Position Description Summary
%p{ :itemprop => 'description' }
  Work with a dynamic team on the cutting edge with future releases of Microsoft 
  technologies and help customers get the most out of the tools/technology 
  (new or old).


%h3 Job Duties 
%p
  The #{job_title} position entails the following tasks, activities, and 
  responsibilities:
%ul{ :itemprop => 'responsibilities' }
  %li
    Deliver Microsoft SharePoint Serer implementation consulting consulting 
    services to clients. This includes Installation, migration, Training, 
    Administration, and Troubleshooting.
  %li
    Deliver Microsoft Project Server implementation consulting services to clients.
    This includes Installation, Migration, Training, Administration, and 
    Troubleshooting.
  %li
    Deliver basic IT Support to clients, including desktop, server, network, 
    SQL, email and Microsoft Access application support and maintenance.
%p
  The #{job_title} position entails the following Internal tasks, activities, 
  and responsibilities:
%ul{ :itemprop => 'responsibilities' }
  %li
    Supporting end users and desktop systems
  %li
    Repairing old, and deploying new computer systems
  %li
    Building Computer Images for deployment
  %li
    Providing system administration for internal systems: SharePoint, Project 
    Server, Exchange, SQL Server, CRM
  %li
    Managing technology infrastructure: Domain, network, and Windows Servers
  %li
    Managing system updates with Windows Server Update Services
  %li
    Maintaining systems using System Center Operation Manager
  %li
    Supporting Virtual Servers in Hyper-V, Virtual Server, Virtual PC, or 
    similar technology
  %li
    Managing Symantec Backup Exec system
  %li
    Maintaining Websites and Administering IIS
  %li
    Technical Documentation for training manuals and internal IT processes


%h3 Professional Experience
%ul{ :itemprop => 'experienceRequirements' }
  %li 3+ years IT experience
  %li At least one year experience with SharePoint
  %li At least one year experience with Project Server
  %li Familiarity with SQL Queries and SQL Server
  %li Familiarity with TCP/IP networks
  %li Strong knowledge of the Microsoft platform
  %li Knowledge of a full range of SharePoint-related technologies
  %li Consulting experience/Client facing/Training

%h3 Core Professional Skills
%ul{ :itemprop => 'skills' }
  %li Problem-solver/solution provider
  %li Strong consulting skills
  %li Strong technical aptitude
  %li Professional appearance and manners
  %li Reliable and diligent
  %li Willing and able to learn
  %li Team player and leader
  %li Organized, systematic
  %li Good follow-through
  %li Excellent written, electronic, and interpersonal communication skills
  %li Strong professional references
  %li Proficient in Microsoft Office Excel, Word, Outlook
  %li Able to follow instructions/orders
  %li Effective manager of both technical and non-technical resources and teams
  %li Effective trainer


%h3 Additional Attributes (preferred and valued, but not not required)
%ul{ :itemprop => 'qualifications' }
  %li 
    Bachelor's degree in Computer Science or related field (or equivalent experience)
  %li
    Experienced with implementing, supporting, and using Microsoft Office Project Server
  %li
    Experienced with configuring, customizing, and integrating SharePoint technologies
  %li
    Architecting and deploying production systems on the SharePoint platform
  %li
    Experienced with gathering business and technical requirements for SharePoint
    and Project Server
  %li
    SharePoint Server Certification
  %li
    Project Server Certification
  %li
    QuickBooks Administration
  %li
    MCP certifications
  %li
    PMP certification
  %li
    Project management experience
  %li
    Experience with applying project management best practices
  %li
    Proficient in Microsoft Visio, Access, Performance Point


%h3 Personal Qualifications
%ul{ :itemprop => 'qualifications' }
  %li Friendly, outgoing, sociable
  %li Teachable; autodidact
  %li Alert and observant
  %li Self-motivated, takes initiative
  %li Honest
  %li Tactful and respectful
  %li Passionate about profession
  %li Healthy sense of humor



%h3 How to Apply
%p
  Submit your resume to #{track_job_application('careers@advisicon.com', job: job_title)}.

