job_title: Project Advisor
keywords: Job, Career, IT, Information Technology, Microsoft, Project Management, Portfolio Management, Microsoft Project Server, Project Server, Microsoft SharePoint, EPM
description: Identify customer business problems, map them to a solution, and facilitiate the deployment of services and technology.
layout: base-alt/job-posting.haml
--------------------------------------------------------META

- @advisicon = "#{hiringOrganization('Advisicon')}"
- @industry = "#{industry('Project Management consulting')}"
- @location = "#{location('Vancouver', 'Washington')}"

%h1{ :itemprop => 'title' } Project Advisor &amp; Trainer
%p
  #{@advisicon}, a #{@industry} firm based in #{@location} seeks candidates 
  for a #{job_title} in Enterprise Project Management (EPM) Solutions.


%h2 Position Description Summary
%p{ :itemprop => 'description' }
  The Project Advisor will provide clients with a blend of skills centered 
  on enterprise project management and technology. This position will engage 
  in business and technology discussions related to enterprise end user value, 
  including end-to-end Microsoft technology solutions. Incumbent will aid 
  senior Project Advisors in identifying client business problems, aid in 
  mapping them to a solution, and facilitate the deployment of services and 
  technology described in the recommended solution. The Project Advisor 
  position entails the following tasks, activities, and responsibilities:


%h3 Job Duties 
%ul{ :itemprop => 'responsibilities' }
  %li
    Provide the customer with a blend of skills supporting enterprise
    project management, technology and strategic business solutions
  %li
    Work closely with Senior Project Advisors to develop services and technologies
    that address the client's business needs
  %li
    Foster productive customer relationships and ensure the Advisicon team 
    exceeds customer expectations
  %li 
    Assist with assembling the client's project requirements
  %li
    Develop and maintain a detailed project schedule which includes administrative 
    tasks and all sites involved in the project
  %li
    Coordinate client meetings, training sessions &amp; internal department meetings
  %li
    Prepare and maintain meeting minutes, presentations and tables
  %li
    File &amp; maintain all digital project documents in designated Project Server
    work site
  %li
    Responsible to track project updates, changes and present reporting data as 
    directed by Director of Professional Services
  %li
    Compile project summary documents, e.g. Requirements Gathering, Project 
    Closeout, Lessons Learned, etc.
  %li
    Create and maintain project reports as well as supporting ad-hoc reporting
    requests
  %li
    Support all levels of the organization by generating and examining program/project
    data using standard reporting tools
  %li
    Accountable for standardizing reporting formats and statistical analysis 
    methodologies
  %li
    Create responses to competing priorities
  %li
    Strong verbal and written communication skills
  %li
    Client service focused and able to present findings/reports to peers competently
  %li
    Ability to quickly learn new tools, specifically: MS Project, MS Project Server &amp;
    MS SharePoint
  %li
    Build project schedules, estimate duration, work and milestone activities


%h3 Professional Experience
%ul{ :itemprop => 'experienceRequirements' }
  %li 1-2 years Microsoft Project
  %li 1-2 years Microsoft Project Server
  %li 3-5 years Project Coordinator experience
  %li Basic understanding of Project Management Methodologies
  %li Preferred: MS Project Certifications and SharePoint experience
  %li Preferred: PMI CAPM certification
  %li Preferred: Associates Degree


%h3 Core Professional Skills
%ul{ :itemprop => 'skills' }
  %li Good organizational and planning skills
  %li Attention to detail
  %li Excellent written and verbal communication
  %li Ability to multi-task
  %li Ability to work under pressure and to meet multiple deadlines
  %li Ability to prioritize competing work
  %li Excellent attention to detail and accuracy
  %li Self-Motivator
  %li Excellent Soft/People Skills
  %li Team player
  %li Able to define and achieve professional goals
  %li Ability to perform in an ambiguous environment
  %li Ability to take direction from others


%h3 Core Values
%ul{ :itemprop => 'qualifications' }
  %li Honest
  %li Creative
  %li Friendly, outgoing, sociable
  %li Alert and observant
  %li Self-motivated, tactful and respectful
  %li Sense of humor
  %li Life-long learner


%h3 How to Apply
%p
  Submit your resume to <a href="mailto:careers@advisicon.com?subject=Application:%20Project%20Advisor" title="Apply to be our next Project Advisor" class="email" onclick="_gaq.push()['_trackEvent', 'Emails', 'Project Advisor Position', 'via careers@advisicon.com'];">careers@advisicon.com</a>.</p>

