job_title: Senior Enterprise Project Management Consultant
keywords: Job, Career, project management, consultant, enterprise, epm
description: 
  Provide the customer with a blend of skills centered on enterprise project 
  management, technology, and strategic business analysis.
live: true
layout: default.haml
--------------------------------------------------------META

- @advisicon = "#{hiringOrganization('Advisicon')}"
- @industry = "#{industry('professional services consulting')}"
- @location = "#{location('Vancouver', 'Washington')}"

%h1{ :itemprop => 'title' } #{job_title}
%p
  #{@advisicon}, a #{@industry} firm based in #{@location} seeks candidates for 
  an #{job_title}.


%h2 Position Description Summary
%p{ :itemprop => 'description' }
  A #{job_title} will provide the customer with a blend of skills centered on 
  enterprise project management, technology, and strategic business analysis. 
  The #{job_title} will engage in senior level business and technology discussions
  related to business value and end-to-end Microsoft technology solutions. The
  #{job_title} will identify customer business problems, map the solution, and
  facilitate the deployment of the services and technology described in the 
  recommended solution.

%h3 Job Duties 
%p
  The #{job_title} position entails the following tasks, activities, and 
  responsibilities:
%ul{ :itemprop => 'responsibilities' }
  %li
    Monitor client engagements. Stays current on project status, hot issues,
    and project next steps.
  %li
    Quality control point person for enterprise and project methodology. Establish
    project and task priorities in conjunction with the customer business 
    requirements.
  %li
    Manage critical paths for customer projects ( i.e. understand impacts and 
    interdependencies between all projects).
  %li
    Risk management. Proactively address any risks or issuees that may impact 
    the project scope, time, quality or finances. Maintain a high level of 
    communication with the customer.
  %li
    Financial overview &mdash; Review and validate for projects in the 
    customers portfolio.
  %li
    Financial variance &mdash; Mentoring and direction. EPM &amp; Project 
    reviews with PMO compliance contact.
  %li
    Audit point person in partnership with Customer. Program point of contact &mdash;
    Go to person for issues/change requests etc.
  %li
    Interface with Tech Development Managers, as needed. Participation in change 
    initiatives and process changes.
  %li
    Develop and deliver Enterprise Project Management training, demos, educational
    presentations, and proposals to prospects, clients, partners, and groups.
  %li
    Technology contact point for all projects. This includes representing 
    Development, QA, Infrastructure, Architecture and Security to Management.
  %li


%h3 Professional Experience, Certifications and Skills
%ul{ :itemprop => 'experienceRequirements' }
  %li 
    Certified Senior Project Manager in role as a Senior Enterprise Project Management Consultant
  %li Consulting experience required
  %li 
    Technical Project Management: EPM &ndash; Enterprise Project Management &ndash;
    SharePoint &ndash; Business Intelligence (BI) &ndash; Microsoft Project and
    Project Server
  %li 
    Excellent organization skills, multi-tasking
  %li 
    Strong technical skills
  %li 
    PMP certified with at least 10 years enterprise project management experience (EPM)
  %li 
    Experience in architecting and deploying Microsoft Office Project Sever 
    production systems
  %li 
    Experienced with configuring, customizing, and integrating Microsoft Office
    Project Server
  %li 
    Experienced with configuring, customizing, and integrating Micorosoft SharePoint
  %li 
    Certified in Microsoft Office Project, Project Server, SharePoint a plus
  %li Process Mapping skills required
  %li Experience with gathering business and technical requirements
  %li 4+ years IT and systems integration experience
  %li Strong knowledge of the Microsoft Office platform
  %li Knowledge of a range of the Enterprise Project Management-related technologies


%p
  <strong>Note</strong>: #{@advisicon}&rsquo;s #{job_title}s are key enablers 
  for #{@advisicon}&rsquo;s consultants and partner staff. They manage the 
  complete lifecycle of large and complex projects and have a passion for 
  customers that is demonstrated through professionalism and striving for 
  excellence in all aspects of the customer experience.
%p
  As an #{job_title}, you will help identify, pursue, and close strategic 
  business development opportunities while continually driving add-on business
  within existing accounts. To accomplish this, the #{job_title} must be 
  effective in fostering executive level relationships. The successful candidate
  will help translate business requirements into technology requirements for
  inclusion in contracts and/or statements of work (SOW).


%h3 How to Apply
%p
  Submit your resume to #{track_job_application('careers@advisicon.com', job: job_title)}.


