job_title: SharePoint Developer
keywords: Job, Career, Developer, SharePoint, Microsoft
description: Develop and deploy SharePoint Services applications used by project management and technical project teams, and provide administrator support for SharePoint Services.
live: true
layout: default.haml
--------------------------------------------------------META

- @advisicon  = hiringOrganization('Advisicon')
- @industry   = industry('professional services consulting')
- @location   = location('Vancouver', 'Washington')

%h1{ itemprop: 'title' } #{job_title}
%p
  #{@advisicon}, a #{@industry} company based in #{@location} seeks candidates 
  for a #{job_title}.
  <em>Salary:</em> $#{base_salary(65000)} to $85000 DOE.


%h2 Position Description Summary
%p{ itemprop: 'description' }
  We are looking for an experienced #{job_title}. You will be responsible for 
  developing and deploying SharePoint Services applications used by project 
  management and technical project teams, and provide administrator support for 
  SharePoint Services.
%p
  Primary responsibilities will be to:
%ul{ itemprop: 'responsibilities' }
  %li 
    Work in collaboration with content owners to establish sites.
  %li 
    Convert and migrate content from other websites to establish the intranet 
    portal as the primary collaboration tool for the user community.
  %li
    Integrate &amp; customize commercial applications as required. Primarily 
    applications in:
    %ul
      %li Project management
      %li Workflows
      %li Document management
      %li Shared work spaces for project teams
  %li
    You will also evaluate technologies in the emerging portal industry, 
    SharePoint trends and related technologies and recommend implementation of 
    new technologies as appropriate.

%p Non-Technical responsibilities include:
%ul{ itemprop: 'responsibilities' }
  %li
    The need to develop and maintain best practices and standards for operation 
    of the portal.

%p Additional responsibilities will include:
%ul{ itemprop: 'responsibilities' }
  %li
    Cross training other IT staff in the administration of the SharePoint server, 
    portal sites and pages.

%p Must have ability to:
%ul{ itemprop: 'responsibilities' }
  %li
    Design, implement and maintain high quality, scalable and extendable 
    SharePoint solutions.
  %li
    Migrate and implement plans that address both tactical and strategic needs.
  %li
    Design and implement of workflows to support business processes.
  %li
    Code, test and implement solutions in a SharePoint environment.
  %li
    Analyze technologies, technical processes and/or functions, document 
    findings, identify areas for improvement and create specifications.
  %li
    Unit test all assigned deliverables.
  %li
    Work from high level requirements through detailed specifications, prototype, 
    software deployment and administration.
  %li
    Design and implement custom Web Parts and other programs that leverage the 
    SharePoint object model.


%h2 Professional Experience
%ul{ itemprop: 'experienceRequirements' }
  %li Web Page development and design experience.


%h2 Core Professional Skills
%ul{ itemprop: 'skills' }
  %li SharePoint 2010, 2007 Development
  %li HTML 5
  %li CSS
  %li SSRS
  %li C#, XSL
  %li JavaScript/JQuery
  %li SQL-Server
  %li .Net Framework
  %li SharePoint Designer


%h2 Bonus Skills
%ul{ itemprop: 'skills' }
  %li 
    Project Server/Performance Point Server
  %li 
    Integration
    %ul
      %li Dynamics Platform
      %li ERP (SAP or PeopleSoft)
      %li QuickBooks
  %li 
    Microsoft office product development
    %ul
      %li MS Access, Excel
      %li Macro or Office Apps


%h2 Personal Qualifications
%ul{ itemprop: 'qualifications' }
  %li 
    Excellent communication skills &ndash; verbal and written &ndash; to 
    facilitate working with the clients in determining requirements
  %li
    Ability to interact with business users at all levels
  %li
    US citizenship or green card


%h3 How to Apply
%p
  Submit your resume to #{track_job_application('careers@advisicon.com', job: job_title)}.
