job_title: SharePoint System Developer
keywords: Job, Career, sharepoint 2013, .net framework, windows, microsoft sql server
description: 
  An international professional services consulting, development and training 
  Company, headquartered in in Vancouver, Washington seeks candidates for a Mid 
  to Senior Level Developer.
live: true
layout: default.haml
--------------------------------------------------------META

- @advisicon  = hiringOrganization('Advisicon')
- @industry   = industry('professional services consulting, development and training')
- @location   = location('Vancouver', 'Washington')

%h1{ itemprop: 'title' } #{job_title}
%p
  #{@advisicon}, an international #{@industry} company, headquartered in #{@location}
  seeks candidates for a Mid to Senior level developer.

%h2 Position Description Summary
%p{ itemprop: 'baseSalary' } Salary: $85K to $100K DOE
%p{ itemprop: 'description' }
  We are looking for an experienced .NET Developer for SharePoint. You will be 
  responsible for developing and deploying SharePoint Services and applications 
  used by project management and technical project teams, and to act as an 
  administrator as necessary for SharePoint Server.
%div{ itemprop: 'responsibilities' }
  %p
    Primary responsibilities will be to work in collaboration with content owners 
    to establish sites, and to convert and migrate content from other websites 
    in order to establish the intranet portal as the primary collaboration tool 
    for the user community. You must be able to integrate &amp; customize 
    commercial applications (primarily applications in project management, 
    workflow, document management, and collaborative work spaces for project 
    teams) as required. You will also evaluate SharePoint and other technologies 
    in the emerging portal industry and recommend implementation or adoption of 
    new technologies as appropriate. 
  %p
    Non-Technical responsibilities include the need to develop and maintain 
    best practices and standards for the system development life cycle and 
    SharePoint portal operations, and to cross train other IT staff as necessary.

%h3 Must have the ability to
%ul{ itemprop: 'responsibilities' }
  %li
    Architect, Design, Code, Test, and Support high quality, scalable and 
    extensible SharePoint solutions, web parts, and custom code extensions.
  %li
    Adapt and implement plans to address tactical and strategic business 
    requirements.
  %li
    Design and implement workflows to support business processes.
  %li
    Analyze technologies, technical processes and functions, document findings, 
    identify areas for improvement, and create specifications.
  %li
    Work effectively with high level requirements and detailed specifications, 
    to prototype, deploy, and administer software and systems.


%h3 Key Developer Skillsets
%ul{ itemprop: 'skills' }
  %li Windows Communication Foundation / Web services
  %li Project Server Interface API Experience
  %li Basic Windows Server Administration 
  %li C# .NET
  %li SQL Programming and Administration with Microsoft SQL Server 

%h3 Back End Preferred Experience
%ul{ itemprop: 'experienceRequirements' }
  %li SharePoint Server
  %li Project Server 
  %li System / Software Development Methodologies
  %li 
    Business Intelligence and Report Development (SQL Reporting Services, 
    Excel Services, Dashboards, PivotTables)
  %li Web Page development and design experience

%h3 Business Must Have Skills
%ul{ itemprop: 'skills' }
  %li 
    Excellent communication skills (verbal and written) to facilitate working 
    with clients to define and document requirements
  %li Self-Motivated &amp; Team Player
  %li Ability to interact with business users at all levels

%h3 Preferred Prior Experience
%ul{ itemprop: 'experienceRequirements' }
  %li 
    Seasoned Developer experienced with Software Development Life Cycle 
    &amp; Processes
  %li Software Testing (Unit, System, Integration, User Acceptance)
  %li Comfortable with writing SQL Queries and Basic SQL Server Administration

%h3 Must also have
%ul{ itemprop: 'qualifications' }
  %li
    US citizenship or green card

%h3 How to Apply
%p
  Submit your resume to #{track_job_application('careers@advisicon.com', job: job_title)}.
